.ImageMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 48px;
    color: #263238;
}

.container {
    margin-top: 25px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.GameZone img {
    width: 720px;
    height: 480px;
}

.text-analyze{
    margin-top: 20px;
    width: 50%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-infos{
    width: 35%;
    background-color: chartreuse;
}

.text-send {
    width: 15%;
    background-color: red;
}

.text-block {
    width: 50%;
    background-color: blue;
}